<template>
  <div class="layout layout-default">
    <layout-header/>
    <layout-body>
      <slot/>
    </layout-body>
  </div>
</template>

<script>
import LayoutBody from '@/components/layouts/default/LayoutBody';
import LayoutHeader from '@/components/layouts/default/LayoutHeader';

export default {
  name: 'LayoutDefaultTemplate',

  components: {
    LayoutBody,
    LayoutHeader
  },
}
</script>
