<template>
  <notifications-watcher>
    <nuxt/>
  </notifications-watcher>
</template>

<script>
import NotificationWatcher from '@/mixins/notification-watcher';

export default {
  name: 'LayoutAnonim',
  mixins: [NotificationWatcher],
}
</script>
