<template>
  <notifications-watcher>
    <layout>
      <nuxt/>
    </layout>
  </notifications-watcher>
</template>

<script>
import Layout from '@/components/layouts/default/Layout';
import NotificationsWatcher from "~/mixins/notification-watcher";

export default {
  name: 'LayoutDefault',
  mixins: [NotificationsWatcher],
  components: {
    Layout
  },
}
</script>
