<template>
  <div>
    <b>{{ user ? user.name : 'notuser' }}</b>
    <div @click="press1">
      AuthIvan
    </div>
    <div @click="press2">
      AuthAnton
    </div>
    <div @click="press3">
      NonExistentUser
    </div>
    <div @click="press4">
      Logout
    </div>
  </div>
</template>

<script>
import {STORE_AUTHORIZATION, STORE_LOGOUT, STORE_USER_GET} from "~/constants/store";

export default {
  name: 'IndexPage',
  computed: {
    user() {
      return this.$store.getters[STORE_USER_GET];
    }
  },
  methods: {
    press1() {
      this.$store.dispatch(STORE_AUTHORIZATION, {name: 'Иван'}).then(r => {
        console.log(r, 'r');
      }).catch((e) => {
        console.log('ERR');
      });
    },
    press2() {
      this.$store.dispatch(STORE_AUTHORIZATION, {name: 'Антон'}).then(r => {
        console.log(r, 'r2');
      }).catch((e) => {
        console.log(e.response.data, 'ERR2');
      });
    },
    press3() {
      this.$store.dispatch(STORE_AUTHORIZATION, {name: '1010'}).then(r => {
        console.log(r, 'r3');
      }).catch((e) => {
        console.log(e.response.data, 'ERR3');
      });
    },
    press4() {
      this.$store.dispatch(STORE_LOGOUT).then(r => {
        console.log(r, 'r4');
      }).catch((e) => {
        console.log(e.response.data, 'ERR4');
      });
    }
  }
}
</script>
