<template>
  <div class="notifications-watcher">
    <slot/>
  </div>
</template>

<script>
import {STORE_REQUESTS_NOTIFICATIONS_GET, STORE_REQUESTS_NOTIFICATIONS_REMOVE} from "~/constants/store";

export default {
  name: 'NotificationsWatcher',
  computed: {
    notifications() {
      return this.$store.getters[STORE_REQUESTS_NOTIFICATIONS_GET];
    }
  },
  watch: {
    notifications: {
      handler(val) {
        if (process.client && val.length > 0) {
          val.forEach((message, i) => {
            const {text, options} = message;
            this.$toast.show(text, options);
            this.$store.commit(STORE_REQUESTS_NOTIFICATIONS_REMOVE, i);
          })
        }
      },
      immediate: true,
    },
  }
}
</script>
